# macOS / editors
.DS_Store
.vscode/

# dbt build artifacts
**/target/
**/dbt_packages/
**/logs/

# python virtualenvs
**/venv/
**/.venv/

# airflow local state
**/.airflow/

# dbt profiles / secrets
**/profiles.yml
**/.profiles/

**/.github/profiles/
**/.profiles/
