# macOS / editors
.DS_Store
.vscode/

# dbt build artifacts
**/target/
**/dbt_packages/
**/logs/

# python virtualenvs
**/venv/
**/.venv/

# airflow local state
**/.airflow/

# dbt profiles / secrets
**/profiles.yml
**/.profiles/

**/.github/profiles/
**/.profiles/

# dbt local profiles (never commit)
**/.profiles/
**/.github/profiles/
**/profiles.yml
**/profiles.yaml

# local envs / airflow / logs
**/.venv/
**/venv/
**/.airflow/
**/logs/
.github/profiles/user.yml
