people_analytics_dbt:
  target: ci
  outputs:
    ci:
      type: bigquery
      method: oauth
      project: dummy-project
      dataset: dummy_dataset
      threads: 1
      location: US

jobs:
  dbt-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dbt
        run: |
          python -m pip install --upgrade pip
          pip install dbt-core==1.11.2 dbt-bigquery==1.11.0

      - name: dbt deps
        run: |
          dbt deps \
            --project-dir domains/people_analytics \
            --profiles-dir .github/profiles \
            --no-use-colors

      - name: dbt parse
        run: |
          dbt parse \
            --project-dir domains/people_analytics \
            --profiles-dir .github/profiles \
            --no-use-colors

